.swiper {
    width: $container-lg;

    .swiper-wrapper {
        margin-bottom: 4rem;

        .swiper-slide {
            @include gradientBackground;

            border-radius: 1rem;
            cursor: default;
            font-size: 0.9rem;
            padding: 1.5rem 2rem;

            P {
                margin-bottom: 1.5rem;
            }
            .patient {
                align-items: center;
                display: flex;
                gap: 1rem;

                .avatar {
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                    width: 2.5rem;
                }
            }
            
        }
    }

    .swiper-pagination-bullet {
        background: $primary-color;
    }
}

/* =============================
        MEDIA QUERIES PHONES
============================= */
@media screen and (max-width:600px) {
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                padding: 1.5rem;
            }
        }
    }
}